################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuburnRandall/.vs
/AuburnRandall/AuburnRandall.Core/bin/
/AuburnRandall/AuburnRandall.Core/obj
/AuburnRandall/packages
/AuburnRandall/AuburnRandall.Web/bin
/AuburnRandall/AuburnRandall.Web/node_modules
/AuburnRandall/AuburnRandall.Web/obj
